[defaults]
inventory = inventories/production
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = memory
fact_caching_timeout = 3600
stdout_callback = yaml
callback_whitelist = timer, profile_tasks
roles_path = roles
vault_password_file = .vault_pass
remote_user = ubuntu
private_key_file = ~/.ssh/flextime_deploy_key

[inventory]
enable_plugins = aws_ec2, kubernetes.core.k8s

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[persistent_connection]
command_timeout = 30
connect_timeout = 30